.float {
    float:right;
    background-color: lightblue;
    width:120px;
    height:120px;
    padding:20px;
    border-radius: 25px;
    margin:20px;
}
body {
    color:white;
}
.purple {
    background-color: purple;
    width:420px;
    height:200px;
    padding: 10px;
}
.left {
    float:left;
}
