div:nth-child(even) > div:nth-child(odd) {
    
    background-color: black;
    color:white;
}
.cell {
    width: 12.5%;
    height:100%;
    float:left;
}
div:nth-child(odd) > div:nth-child(even) {
    
    background-color: black;
    color:white;
}
.row {
    width:500px;
    background-color: white;
    height:62.5px;
}